[core]
    pager = delta
    editor = nvim

[alias]
    c = "!f() { git add -A && git commit -m \"$1\"; }; f"
    i = "!f() { git init && git C \"initial commit\"; }; f"
    y = c commit
    ya = "!f() { git add -A && git commit --amend -m \"commit\" }"
    d = diff
    s = status
    b = branch
    ls = "!f() { if [ -z $1 ]; then TGT=\"n\"; else TGT=$1; fi; case $TGT in b) git branch; ;; n) git diff --name-only; ;; s) git stash list; ;; l) git log; ;; esac; }; f"
    clear-out = "!f() { if [ -z $1 ]; then branch=$(git branch --show-current); else branch=$1; fi; git branch --merged $branch | grep -v $branch$ | xargs git branch -d; }; f"
    squash = "!f() { if [ -z $1 ]; then echo \"requires a merge-base\"; exit 1; else base=$1; fi; git reset --soft $(git merge-base HEAD $base) && git commit --reuse-message=HEAD@{1}; }; f"
    co = checkout
    fzf = "!f() { git checkout $(git branch | fzf); }; f"
    self = branch --show-current
    pso = "!f() { git push --set-upstream origin $(git self); }; f"
    pop = stash pop
    rh = reset --hard HEAD

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    light = false    # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[init]
	defaultBranch = main

[user]
	email = self@michaelgreen.dev
	name = Michael Green

[pull]
	rebase = false

