[core]
    pager = delta

[alias]
    C = "!f() { git add -A && git commit -m \"$1\"; }; f"
    I = "!f() { git init && git C \"initial commit\"; }; f"
    co = checkout
    pop = stash pop
    RESET = reset --hard HEAD

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    light = false    # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[init]
	defaultBranch = main

[user]
	email = self@michaelgreen.dev
	name = Michael Green

[pull]
	rebase = false

